{% extends 'base.html' %}
{% load staticfiles %}
{% block seo %}
<title>TestMaster Free online test maker</title>
<meta name="Title" content="Online tests and test maker with largest collection of questions." />
<meta name="description" content="Online free test maker and exam practice tool. Create and practice tests with the largest collection of questions."/>
{% endblock %}

{% block main %}
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Test<span class="highlight">Master</span></h2>
            <p class="intro" style="color:#074f66">The easiest way create paid online tests for your students.</p>
            <div class="btns">
                <a class="btn btn-xlg btn-warning" style='background-color:#B22222;' href="{% url 'new_question_set' %}" >Create a test</a>
                
            </div>

           
            <ul class="meta list-inline">
                
            </ul><!--//meta-->
        </div><!--//container-->
       
    </section><!--//promo-->

    <!-- ******ABOUT****** --> 
        <div class="jumbotron text-center" >
            <h2 class="title text-center" style='margin:25px;'>How it works</h2>
            
            <div class="row">
                <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="icon-holder" >
                        <i class="fa  fa-file-text-o fa-4x"></i>
                    </div>
                    <div class="content" style='margin:10px;'>
                        <h3 class="sub-title">Create a test & receive SMS code</h3>
                        <p>Start by creating a test for your students. Once you have created the test, you will recieve a SMS code for your test.</p>
                        <p></p>
                        
                    </div><!--//content-->
                </div><!--//item-->
      
             <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <div class="content" style='margin:10px;'>
                        <h3 class="sub-title">Give the SMS code to your students</h3>
                        <p>Students will then SMS to this code to get access to your test.</p>
                        <p></p>
                       
                    </div><!--//content-->
                </div><!--//item-->             

            <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-mobile fa-4x"></i>
                    </div>
                    <div class="content" style='margin:10px;'>
                        <h3 class="sub-title">Students send SMS to take your test</h3>
                        <p>Students then take your test online on their mobile phones and the result is shared with your.</p>
                        <p></p>
                       
                    </div><!--//content-->
                </div><!--//item-->

                 <div class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-money fa-4x"></i>
                    </div>
                    <div class="content" style='margin:10px;'>
                        <h3 class="sub-title">You earn money</h3>
                        <p>You get revenue from the cost of SMS the students paid to take your test. The more students take your test, the more you earn. </p>
                        <p></p>
                       
                    </div><!--//content-->
                </div><!--//item-->

            </div><!--//row-->            
        </div><!--//container-->

<div class="container text-center" style="margin:50px;">
            <h2 class="title text-center" style='margin:25px;'>SMS cost to take a test</h2>
            
            <div class="row">
                <div class="item col-md-3 col-sm-6 col-xs-12" style='margin:35px;'>
                    <div class="icon-holder" >
                       <img class="img-responsive" src = "{% static "assets/images/saudi.png" %}"    >
                    </div>
                    <div class="content" style='margin:10px;'>
                        <h3 class="sub-title">Saudi Arabia</h3>
                        <p>SR 5.00 per test</p>
                    </div><!--//content-->
                </div><!--//item-->
                    <div class="item col-md-3 col-sm-6 col-xs-12" style='margin:35px;'>
                    <div class="icon-holder" >
                       <img class="img-responsive" src = "{% static "assets/images/uae.gif" %}"    >
                    </div>
                    <div class="content" style='margin:10px;'>
                        <h3 class="sub-title">United Arab Emirates</h3>
                        <p>AED 5.00 per test</p>
                    </div><!--//content-->
                </div><!--//item-->
                    <div class="item col-md-3 col-sm-6 col-xs-12" style='margin:35px;'>
                    <div class="icon-holder" >
                       <img class="img-responsive " src = "{% static "assets/images/india.jpg" %}"    >
                    </div>
                    <div class="content" style='margin:10px;'>
                        <h3 class="sub-title">India</h3>
                        <p>INR 10.00 per test</p>
                    </div><!--//content-->
                </div><!--//item-->
      
             

            </div><!--//row-->            
        </div><!--//container-->
   
          
            

            

   
{% endblock %}
