{% extends 'base.html' %}

{% load bootstrap3 %}



{% block main %}

        <div class="container text-center">
	<div class="row text-center" style="margin-top:15%;">

	<div class='col-md-12' >
		<div class='col-md-3' >
		</div>
		<div class='col-md-6' style='background-color:;'>
		
			<form  method="POST">{% csrf_token %}
	{% bootstrap_form form %}
	<button class='btn btn-lg btn-warning' type="submit">Login</button>
	</form>
	Don't have an account? <a href="{% url 'register' %}?next={{next}}" style='color:red'>Sign Up</a>
</div>
	<div class='col-md-3'>
		</div>
	</div>
	</div>
</div>

{% endblock %}















