<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<script>
$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});
	$(document).ready(function(){
		var q;
		var qq;
		var number_of_questions;
		var counter = 0;
		var answers = [];
		$("#retake_button").hide()
		
		get_questions_from_server();
		
		function get_questions_from_server(){
			$.get("{% url 'load_questions' slug %}", function(data){
			q = JSON.stringify(data);
			qq = JSON.parse(q)
			console.log(counter);
			number_of_questions = Object.keys(qq).length;
			
			display_question(counter);
		});

		}	
		

	function display_question(counter){
				if (counter<number_of_questions){
					console.log(counter)
					object = qq[counter]
					var question = object['question'];
					var choices = object['choices'];
					$("#question").append(question);
					for (i=0; i<choices.length; i++){
						$("#choices").append("<div class='col-sm-6 col-md-3'><h4><input type='radio' name='answer' id='choice' style='margin:15px;' value="+choices[i]['pk']+">"+choices[i]['value']+"</h4></div>");
						}
					}
				else{
					// console.log(answers);
					// $("#result").append(JSON.stringify(answers));
					send_answers_to_server(JSON.stringify(answers))
				}	
			}

$(document).on("click", '#choice', function(){
			var answer; 
			console.log(counter);
			answer = $("#choice:checked ").attr('value')
			updateAnswers(qq[counter]['pk'], answer)	
			$("#question").empty();
			$("#choices").empty();
			counter = counter + 1;
			display_question(counter);
		
		
		});

function updateAnswers(q, a){
		answers.push({
			question:  q,
			answer: a
		});
	}

function send_answers_to_server(a){
		$.post("{% url 'load_questions' slug %}", a, function(data,status){
			var result = JSON.parse(data)
			$("#result").append("<h1 style='font-size:500%;' id='score'>"+result['correct']+"/"+result['total']+"</h1><h4>Your score</h4>");
			$("#retake_button").show()
			var wrong_answers = result['wrong']
			$("#wrong_answers").append("<br><h2>Correct answers are:</h2><br>")
			for (i=0; i< wrong_answers.length; i++){
				$("#wrong_answers").append("<h3>"+wrong_answers[i]['question']+": "+wrong_answers[i]['answer']+"</h3><br>");
			}
			
		});
	};
	});
</script>

<style>
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
</style>
</head>

<body>

<div class="container text-center" style='background-color:;margin-top:10%;height:30%;width:;'>
	<div class="row" style="background-color:;margin-top:5%;">
		<div class='col-lg-12'>
		<div id='questions'>
		<h3 id="question"></h3>
		</div>
		</div>
		</div>

		<div id="result" style="margin-top:;">
		</div>
		<div id='wrong_answers'></div>
		<a id='retake_button' href="{% url 'start_test' slug %}"><button class='btn btn-lg btn-primary'>ReTake Test</button></a>

</div>
	
	<div class="container text-center" style='background-color:;margin:;'>

<div class='row' style="margin-top:;">
		<div class='col-lg-12'>
			<div class='col-lg-1'>
			</div>
			<div class='col-lg-10'>
				<form id="choices"></form>
			</div>
		<div class='col-lg-1'>
			</div>
		</div>
</div>

		
</div>
</body>
</html>

